body {
    margin: 0;
    padding: 0 200px;
    background-color: gray;
}
nav {
    text-align: center;
    padding: 40px 20px;
}
#poster {
    width: 100%;
}
.circle {
    border-radius: 100%;
    width: 200px;
    border: 10px solid rgb(66, 66, 66);
    margin: 0 35px;
}